*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F4F2EE;
}
.header{
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgb(222, 217, 217);
    display: flex;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 100;
}
.leftcontent{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 11rem;
}
.header .leftcontent .logo img{
    height: 2.2rem;
    width: 2.2rem;
}
.search{
    padding-left: 0.5rem;
}
.search input{
    height: 2.2rem;
    width: 17rem;
    padding-left: 2rem;
    padding-top: 0.3rem;
    font-weight: 500;
    background-color: #EDF3F8;
    border: none;
}
.search i{
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}
.search input:hover{
    transition: 0.5s ease-in-out;
    width: 22rem;
}
.rightcontent{
    width: 50%;
    color:#666666;
    display: flex;
    align-items: center;
    padding-left:11rem;
    float: right;
}
.home a{
    list-style: none;
    text-decoration: none;
    display: block;
    color: black;
    border-bottom: 2px solid black;
}
.mynetwork a, .jobs a, .messaging a, .notification a{
    list-style: none;
    text-decoration: none;
    display: block;
    color:#666666 ;
}
.home,.mynetwork,.jobs, .messaging,.notification,.me{
    padding-right:1.2rem;
}
.home,.mynetwork,.jobs, .messaging,.notification,.me p{
    font-size: 14px;
    font-weight: 400;
}
.home i{
    height: 1rem;
    width: 1.5rem;
    padding-left: 0.5rem;
    color: black;
}
.mynetwork i{
    height: 1rem;
    width: 1.5rem;
    padding-left: 2rem;
}
.mynetwork:hover{
    color: black;
    cursor: pointer;
}
.jobs i{
    height: 1rem;
    width: 1.5rem;
    padding-left: 0.3rem;
}
.jobs:hover{
    color: black;
    cursor: pointer;
}
.messaging i{
    height: 1rem;
    width: 1.5rem;
    padding-left: 1.5rem;
}
.messaging:hover{
    color: black;
    cursor: pointer;
}
.notification i{
    height: 1rem;
    width: 1.5rem;
    padding-left: 2rem;
}
.notification:hover{
    color: black;
    cursor: pointer;
}
.me{
    border-right: 0.1px solid rgb(222, 217, 217);
    padding-right: 2rem;
}
.me img{
    height: 1.5rem;
    width: 1.3rem;
    border-radius: 50%;
}
.me a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
}
.metext{
    display: flex;
    align-items: center;
}
.me:hover{
    color: black;
    cursor: pointer;
}
.metext i{
    padding-left: 0.2rem;
}
.lastcontent{
    width: 30%;
    color:#666666;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.lastcontent a{
    font-size: 12px;
    color: brown;
}
.elemone{
    padding-right: 1rem;
}
.elemone i{
    padding-left: 0.2rem;
}
.elemone:hover{
    color: black;
    cursor: pointer;
}
.elemone #dot{
    font-size: 15spx;
    padding-left: 2rem;
}
.caret{
    display: flex;
    align-items: center;
}

/* frontpage design */
.page{
    width: 100%;
    margin-left: 11rem;
    display: flex;
}
.leftpart{
    height: 68vh;
    width: 20%;
    border: 0.2px solid rgb(222, 217, 217);
    margin-top: 4rem;
    border-radius: 10px;
    color: #787878;
    background-color: white;
}
.leftpart img{
    height: 4.5rem;
    width: 4.5rem;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.profile{
    text-align: center;
    padding: 2rem 0.3rem;
    border-bottom: 0.2px solid rgb(222, 217, 217);
}
.profile a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.5rem;
}
.view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.view h4 a,.impression h4 a{
    text-decoration: none;
    color: #787878;
}
.view:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.impression{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 0.2px solid rgb(222, 217, 217);
}
.impression:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.ad{
    padding: 1rem 0.3rem;
    border-bottom: 0.2px solid rgb(222, 217, 217);
}
.premium{
    display: flex;
    align-items: center;
}
.premium a{
    padding-left: 0.5rem;
    text-decoration: none;
}
.premium img{
    height: 1.5rem;
    width: 1.5rem;
}
.ad:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.saveditem{
    display: flex;
    padding: 1rem 0.3rem;
}
.saveditem a{
    text-decoration: none;
    padding-left: 1rem;
    color: black;
}
.saveditem:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
/* secondpart */
.secondleftpart{
    margin-top: 2rem;
    height: auto;
    width: 100%;
    border: 0.2px solid rgb(222, 217, 217);
    border-radius: 10px;
    color: #787878;
    background-color: white;
}
.one,.two,.three,.four{
    display: flex;
    padding: 0.3rem 0.8rem;
}
.one:hover,.two:hover,.three:hover,.four:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.one a,.two a,.three a,.four a{
    padding-left: 1rem;
    text-decoration: none;
    color: #787878;
}
.recent{
    padding-top: 1rem;
}
.groups{
    padding-top: 1rem;
}
.gr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gr p{
    color: blue;
}
.gr p:hover{
    display: flex;
    cursor: pointer;
    border-bottom: 0.2px solid blue;
}
.recent p, .groups p{
    margin-left: 0.8rem;
}
#see{
    padding-left: 3rem;
    padding-right: 12.1rem;
    text-decoration: none;
    color: #787878;
}
#see:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.evet{
    width: 100%;
}
.evehead{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.evehead a{
    text-decoration: none;
    margin-left: 1rem;
    color: blue;
}
.evehead i{
    margin-left: 10rem;
}
.fh{
    padding-top: 1rem;
    border-bottom: 0.2px solid #DDDDDD;
    padding-bottom: 1rem;
}
.fh a{
    text-decoration: none;
    margin-left: 1rem;
    color: blue;
}
.discover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
.discover a{
    text-decoration: none;
    font-size: 15px;
    color:#787878;
    margin: 1rem;
}
.evehead a:hover,.fh a:hover{
    border-bottom: 0.2px solid blue;
}
.evehead i:hover{
    border-radius: 50%;
    background-color: #DDDDDD;
    cursor: pointer;
}
.discover:hover{
    background-color: #DDDDDD;
}
.profile img:hover{
    cursor: pointer;
}
.profile a:hover{
    cursor: pointer;
    border-bottom: 0.2px solid #DDDDDD;
}
/* middlepart */
.middlepart{
    height: auto;
    width:37%;
    border-radius: 10px;
    margin-top: 4rem;
    margin-left: 1rem;
}
.middle{
    border: 0.2px solid rgb(222, 217, 217);
    border-radius: 10px;
}
.middlebar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
}
.middlebar img{
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 50%;
}
.middlebar img:hover{
    cursor: pointer;
}
.middlebar button{
    height: 3.3rem;
    width: 80%;
    border: 0.2px solid rgb(222, 217, 217);
    border-radius: 30px;
    padding-left: 1rem;
    text-align: left;
    font-weight: 700;
    background-color: white;
    color: #787878;
}
.middlebar button:hover{
    background-color: #DDDDDD;
    cursor: pointer;
}
.upload{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.3rem;
    background-color: white;
}
.media,.event,.article{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.media p,.event p,.article p{
    padding-left: 0.5rem;
    color: #474444;
    font-weight: 500;
}
.media i{
    color: #378FE9;
}
.event i{
    color: #C37D16;
}
.article i{
    color: #E06847;
}
.media:hover,.event:hover,.article:hover{
    border: 0.2px solid none;
    cursor: pointer;
    background-color: #DDDDDD;
}
.post{
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    border: 0.2px solid rgb(222, 217, 217);
    margin-top: 2rem;
    border-radius: 10px;
    background-color: white;
}
.image img{
    height: auto;
    width: 95%;
    margin: 1rem;
}
.count{
    padding-bottom: 0.5rem;
    border-bottom: 0.2px solid #DDDDDD;
}
.count, .cr, .c_comment, .c_repost{
    display: flex;
}
.cr{
    padding-left: 5rem;
}
.c_comment p, .c_repost p{
    padding-left: 0.5rem;
}
.c_comment,.c_repost{
    padding-left: 0.7rem;
}
.react{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem;
}
.like{
    display: flex;
}
.like p{
    padding-left: 0.2rem;
}
.likes,.comment,.repost,.share{
    display: flex;
    padding: 1rem;
}
.likes p, .comment p,.repost p,.share p{
    padding:0 0.5rem;
}
.like i{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.likes i{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.like:hover, .c_comment:hover, .c_repost:hover{
    color: blue;
    cursor: pointer;
    border-bottom: 0.2px solid #DDDDDD;
}
.likes:hover,.comment:hover,.repost:hover,.share:hover{
    cursor: pointer;
    border: 0.2px solid none;
    background-color: #DDDDDD;
    padding: 1rem;
}
.posttwo{
    border: 0.2px solid #DDDDDD;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: white;
}
.lastpart{
    height: 95vh;
    width: 20%;
    margin-top:4rem;
    margin-left:1rem;
    border-radius: 10px;
    border: 0.2px solid #DDDDDD;
    background-color: white;
}
.texting{
    margin-left: 1.2rem;
}
.texting h1,h3{
    padding: 1rem 0rem;
}
.texting h4{
    margin: 0.3rem 0rem;
}
.texting a{
    color: #787878;
    text-decoration: none;
}
.e5{
    margin-bottom: 2rem;
}
.e1:hover,.e2:hover,.e3:hover,.e4:hover,.e5:hover{
    background-color: #DDDDDD;
    cursor: pointer;
}
#show{
    font-size: 20px;
    text-decoration: none;
    padding: 1rem;
    color: #3d3b3b;
}
#show:hover{
    background-color: #DDDDDD;
    padding: 1rem;
}
.game{
    margin: 1rem 0rem;
}
.game1, .game2, .game3{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.game1:hover, .game2:hover, .game3:hover{
    cursor: pointer;
    background-color: #DDDDDD;
}
.gtext{
    padding-left: 1rem;
}
.gtext a{
    color: black;
    font-size: 17px;
    font-weight: 700;
}
.gtext p{
    color: #787878;
    font-size: 15px;
}
.footer{
    max-height: 10vh;
    width: 100%;
    border: 0.2px solid none;
    border-radius: 10px;
    display: grid;
}
.footer li{
    list-style: none;
    gap: 2px;
    margin: 1rem 0.5rem;
}
.footer li a{
    text-decoration: none;
    color: #787878;
}
.footer li a:hover{
    color: blue;
    border-bottom: 0.2px solid blue;
}
.f3{
    display: flex;
    justify-content: space-around;
}
.f2{
    display: flex;
    justify-content: space-around;
}
.l1{
    display: flex;
    justify-content: space-around;
}
.profilebg{
    position: absolute;
}
.box{
    height: 4.5rem;
    width: 18.4rem;
    border: 2px solid none;
    border-bottom: 0.2px solid #DDDDDD;
    z-index: -1;
    margin-top: 4rem;
    border-radius: 10px;
    background-image: linear-gradient(to left,
    #A0B4B7,
    #D9E5E7,
    #BFD3D6);
}